<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Dl4j uses Reflections to find the right backend, etc. and that logs and ton of stuff
         including "errors" which aren't really errors. -->
    <logger name="org.reflections.Reflections" level="ERROR" />

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
